In [3]:
# Load the output.xlsx file into pandas and visualise the 10 first rows
import pandas as pd
df = pd.read_excel('fabric-pricing.xlsx')
df.head(200)

,SKU,Capacity unit (CU),Pay-as-you-go,Reservation,Region,Pricing display by
0,F 2,2,\n€0.332/hour\n,\nN/A\n\n\n,Central US,Hour
1,F 4,4,\n€0.664/hour\n,\nN/A\n\n\n,Central US,Hour
2,F 8,8,\n€1.328/hour\n,\nN/A\n\n\n,Central US,Hour
3,F 16,16,\n€2.655/hour\n,\nN/A\n\n\n,Central US,Hour
4,F 32,32,\n€5.310/hour\n,\nN/A\n\n\n,Central US,Hour
...,...,...,...,...,...,...
195,F 512,512,"\n€62,017.700/month\n","\n€36,892.823/month\n\n~41% savings\n",West US 3,Month
196,F 1024,1024,"\n€124,035.399/month\n","\n€73,785.645/month\n\n~41% savings\n",West US 3,Month
197,F 2048,2048,"\n€248,070.797/month\n","\n€147,571.289/month\n\n~41% savings\n",West US 3,Month
198,F 2,2,\n€0.388/hour\n,\n€0.231/hour\n\n~41% savings\n,UK South,Hour
199,F 4,4,\n€0.775/hour\n,\n€0.461/hour\n\n~41% savings\n,UK South,Hour